<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543236963801-s0n9hu45t5jj8gclaaqrl49t5t3vfd5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543236963801-s0n9hu45t5jj8gclaaqrl49t5t3vfd5h</string>
	<key>API_KEY</key>
	<string>AIzaSyCI_mFHJONhpJ5xycoI03-yR1PQ32Jc6XU</string>
	<key>GCM_SENDER_ID</key>
	<string>543236963801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.onBuyAuction</string>
	<key>PROJECT_ID</key>
	<string>onbuy-auction</string>
	<key>STORAGE_BUCKET</key>
	<string>onbuy-auction.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543236963801:ios:eeadc61f73fd0c1a046dc8</string>
</dict>
</plist>